@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  background-color: #242424;
}

a {
  font-weight: 400;
  text-decoration: inherit;
}

html {
  scroll-behavior: smooth;
}
 
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
#hero {
  background-image: url("../src/assets/final_hero.png");
}
#services { 
  background-color: #f7f5f4;
}
@media (width<573px) {
  #hero {
    background-image: url("../src/assets/mobile_hero.jpg");
  }
}
